node_modules/
.env
token-server/.env
check.sh
service-account.json
GoogleService-Info.plist
ptt-ios/ptt-ios.xcodeproj/project.xcworkspace/xcuserdata/Tadashi.xcuserdatad/UserInterfaceState.xcuserstate
